<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../css/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type='text/javascript' src='js/scripts.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <title>Shoe Stores</title>
  </head>
  <body>
    <div class="navbar1">
      <center>
        <h3>
          <span>
            <a href="/" class="links">Home</a>
            <a href="/stores" class="links">Stores</a>
            <a href="/brands" class="links">Brands</a>
            <!-- <a href="/shoes" class="links">Shoes</a> -->
          </span>
        </h3>
      </center>
    </div>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
